<%- include('../partials/header'); %>
<body>

  <div class="game-container">
    <div class="top-right-panel">
      <!--Clock section-->
      <div class="section" id="clock">
        <span id="time" class="border-text">6:30 AM</span>
      </div>  
    </div>


    <div class="top-right-panel" style="top: 113px;width:150px;padding:10px;height:150px">
      <%- include('../partials/background-sound'); %>
    </div>


    <%- include('../partials/calendar') %>
    <!-- Main room scene image -->
    <%- include('../partials/game') %>
    <!-- Music player section --> 

    <div class="filename">
      <%- include('../partials/music'); %>
    </div>
  </div>


  <%- include('../partials/menu'); %>


  <%- include('../partials/todo'); %>

  <div class="menu-toggle-buttons">
    <button id="settings">ESC</button>
    <button id="notebook">SHIFT</button>
  </div>

  <%- include('../partials/scripts'); %>
</body>
</html>
