<%- include('../partials/header'); %>
<body>

  <div class="game-container">
    <div class="top-right-panel">
      <!--Clock section-->
      <div class="section" id="clock">
        <div id="time" class="border-text">6:30 AM</div>
        <div id="level" class="border-text font-14">Level: 1</div>
        <div id="exp" class="border-text font-14">Total Exp: 0</div>
      </div>  
    </div>


    <div class="top-right-panel" style="top: 113px;width:150px;padding:10px;height:150px">
      <%- include('../partials/background-sound'); %>
    </div>


    <%- include('../partials/calendar') %>
    <!-- Main room scene image -->
    <%- include('../partials/game') %>
    <!-- Music player section --> 

 
  </div>

  <div class="filename">
    <%- include('../partials/music'); %>
  </div>

  <%- include('../partials/todo'); %>

  <div class="menu-toggle-buttons">
    <button id="notebook">ESC</button>
    <!-- <button id="notebook">SHIFT</button> -->
  </div>

  <%- include('../partials/scripts'); %>
</body>
</html>
